.App {
  text-align: center;
}

.App-header {
  background: transparent;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0;
  background: transparent;
  overflow: hidden;
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
}

.section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.Welcome {
  animation: fade-in 4s;
}

.LowerWelcome {
  animation: fade-in 6s;
}

nav {
  animation: fade-in 8s;
}

nav a {
  text-decoration: none;
  margin: 0 0.5rem;
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease;
  color: inherit;
}

nav a:hover {
  transform: scale(1.1);
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.nav-visible {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.nav-faded {
  opacity: 0.2;
  transition: opacity 0.8s ease;
}

.nav-home {
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
